@font-face{
  font-family: "mia";
  src: url("../fonts/NB-Grotesk-Pro-55M-Normal.ttf");
}

.projects {
    font-family:"mia";
    h1 {
      margin: 50px 0 30px 0;
    }
  
    .project {
      margin-bottom: 30px;
  
      .image {
        height: 200px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }
  
      a {
        button {
          width: 100%;
          text-transform: uppercase;
          background-color: #E8461B;
          border-color:#E8461B ;
        }
      }
    }
  }