@font-face{
  font-family: "mia";
  src: url("../../fonts/NB-Grotesk-Pro-55M-Normal.ttf");
}

.about-me {
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
    padding: 40px 50px;
    text-align: center;
    margin-bottom: 50px;
    font-family:"mia";
    font-size: 16px;
    margin-top: 350px;
    p {
      text-align: justify;
    }
  
    button {
      text-transform: uppercase;
      background-color: #E8461B;
      border-color: #E8461B;
      margin-bottom: 10px;
    }
  }